doctype html

mixin pic-link(image, text, link_to)
  .pic-link
    a(href=link_to)
      img.pic(src='assets/images/' + image)

    a.pic-link-text(href=link_to, target='_blank')= text
  
mixin header(text)
  .header
    .header-text= text
    .line

mixin split-content(left, right)
  .split-content
    div= left
    div= right

mixin heading-split-content(left, right)
  .split-content
    .heading= left
    .non-heading= right
    
mixin bold-split-content(left, right)
  b
    +split-content(left, right)
  
mixin bold-left-italic-right-split-content(left, right)
  .split-content
    b.bold-left= left
    i= right

html(lang='en')
  head
    title William Lorey | Resume

  body
    .name William W. Lorey
    .pic-links
      +pic-link('phone.jpg', '(573) 535 - 4932', null)
      +pic-link('email.png', 'mail@williamlorey.com', 'mailto:mail@williamlorey.com')
      +pic-link('web.png', 'williamlorey.com', 'https://williamlorey.com')
      +pic-link('linkedin.png', 'williamlorey', 'https://www.linkedin.com/in/williamlorey/')
      +pic-link('github.png', 'wwlorey', 'https://github.com/wwlorey')
    

    .education
      +header('Education')
    
    +split-content('Missouri University of Science and Technology (Missouri S&T)', 'May 2019')
    +bold-split-content('B.S. Computer Engineering', 'GPA 4.0/4.0')
    +bold-split-content('Minor: Computer Science', '')


    .experience
      +header('Experience') 

    +heading-split-content('Garmin International', 'Rolla, MO')
    +bold-left-italic-right-split-content('Software Engineering Intern', 'May 2018 - Aug 2018')
    ul
      li Developed avionics verification software in C to ensure robustness, government compliance, and code coverage
      li Analyzed input routing for an avionics flight deck simulator and streamlined the process resulting in a 40% reduction in modules and an 8% reduction in code
      li Architected an encryption process for protecting flight deck configuration passwords
      
    +heading-split-content('Missouri S&T Solar Car Team', 'Rolla, MO')
    +bold-left-italic-right-split-content('President', 'Aug 2017 - Aug 2018')
    ul
      li Led a 40-person interdisciplinary team of volunteers in constructing Missouri S&T's 2018 Solar Car, ​#[i Independence]
      li Secured 2.5x growth in financial contributions for the team from on-campus organizations
      li Allocated and managed a six-figure budget towards designing, building, testing, and racing the vehicle
    +bold-left-italic-right-split-content('Logistics Manager', 'Aug 2016 - Aug 2017')
    ul
      li Raced in and managed team/race logistics for the 2016 American Solar Challenge and 2017 Formula Sun Grand Prix. 
        i In 2016, our 18-person team achieved 4th place in North America
    +bold-left-italic-right-split-content('Electrical/Software Team Member', 'Aug 2015 - Aug 2018')
    ul
      li Designed, implemented, and tested a driver interface PCB and related software in C to control and drive the Solar Car
      li Engineered a database system using SQL and PHP enabling long distance telemetry for near real time data tracking
      li Developed battery characterization software in Python used in constructing the car’s battery pack
      
    +heading-split-content('LMI Aerospace', 'Cuba, MO')
    +bold-left-italic-right-split-content('.NET Developer Intern', 'May 2017 - Aug 2017')
    ul
      li Expanded and maintained a C# .NET system used by over 130 employees for tracking customer order statuses, factory processes, reporting, production TV displays, and government compliance as the facility's sole developer
      li Developed a plant-wide emergency alert web app that integrated employee’s smartphones with the intercom system

    +heading-split-content('The Boeing Company', 'St. Louis, MO')
    +bold-left-italic-right-split-content('Information Technology Intern', 'May 2016 - July 2016')
    ul
      li Engineered and implemented a social network using SharePoint for leveraging innovation from a team of 300+ Boeing employees. ​
        i Project was winner of the 2016 Boeing ITCS Intern Challenge
      li Modernized IBM Rational ClearCase and ClearQuest enterprise solution architecture diagrams for elevated ease of accessing nationwide data center information


    +header('Languages & Software')

    table
      tr
        td Python (fluent)
        td C/C++ (proficient)
        td HTML/CSS (proficient)
        td PHP (prior experience)
      tr
        td 
          .left Git
          .right Vim
        td Visual Studio
        td Code Composer Studio
        td KiCad


    .honors-and-activities
      +header('Honors & Activities')

    .line-item Boy Scouts of America – ​
      b Eagle Scout
    .line-item Collegiate Eagle Scout Association – ​
      b Vice President​, ​Treasurer
    .line-item Missouri S&T – #[b ​Dean’s List] (Fall 2015 – Fall 2018)
    .line-item Missouri S&T Computer Science Department – ​
      b Academic Achievement Award
    .line-item Missouri S&T Electrical and Computer Engineering Department – 
      b ​Undergraduate Research Assistant
    .line-item PickHacks 2019 – 
      b Best Website Domain Award

  style
    include:scss william_lorey_resume.scss
